.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.dice{
    position: relative;
}
.dice img {
    width:  100%;
}

.dice button{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px 0px ;
}

.input-guess{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.correct::after{

    content: 'Congratulation, you make a correct guess';
    color: yellow;
    border: yellow solid 1px;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* right: 0;
    bottom: 0; */
}
@keyframes layer{
    from {width: 100%;}
    to {width: 0;}
}
.dice:hover .overlay{
    /* animation: layer ease 4s; */
    transition: all 2s ease;
    width: 0;
    overflow: hidden;
}
.incorrect::after{

    content: 'You\'re wrong, let try another guess';
    white-space: pre;
    color:red;
    border: red solid 1px;
}

.correct::after, .incorrect::after {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}